<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="AdminLoginId"  value="admin"/>
    <add key="AdminPassword"  value="123"/>
  </appSettings>
	<connectionStrings>
    <add name="ConnectionString1" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=epujadb;Integrated Security=True;Pooling=False"></add>
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
